# simulator options
render 1
simulating 0
autoquit 0 # quit when not simulating
fluid data/test.cfg

endt 1000.0 # end time / sim duration
maxit 10000 # max iterations
epsilon 0.0001 # solver target
divhalt 1 # halt simulation upon divergence

# IO options
file data/out.dat # input/output file
outputting 1
outputt 0 # outputting time data
outputf 1 # output frequency
inputf 20 # input frequency
inputram 0 # bytes to load into memory, 0 for direct file access

# rendering options
# f  v  t  l  w  m
# 64 32 16 8  4  2
rmode 10
rz -25.0 # camera z
rs 2.0 # render scale
bgcol 0.0 0.0 0.0

vs 1.0 # velocity scale (m/s)
ps 100000.0 # pressure scale (Pa)
